---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tautulli
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: tautulli
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tautulli
    spec:
      nodeSelector:
        topology.kubernetes.io/region: lab
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      containers:
        - name: tautulli
          image: ghcr.io/tautulli/tautulli:latest
          env:
            - name: PUID
              value: "3000"
            - name: PGID
              value: "3000"
            - name: TZ
              value: "Europe/Berlin"
          ports:
            - name: http
              containerPort: 8181
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              cpu: 100m
              memory: 250Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: tautulli-config
