---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./coredns/ks.yaml
  - ./descheduler/ks.yaml
  - ./metrics-server/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./reflector/ks.yaml
  - ./reloader/ks.yaml
