apiVersion: apps/v1
kind: Deployment
metadata:
  name: icloudpd
  namespace: default
  labels:
    app: icloudpd
spec:
  replicas: 0
  selector:
    matchLabels:
      app: icloudpd
  template:
    metadata:
      labels:
        app: icloudpd
    spec:
      nodeSelector:
        topology.kubernetes.io/region: lab
      containers:
        - name: icloudpd
          image: icloudpd/icloudpd:1.32.2
          ports:
            - containerPort: 8080
          args:
            - "icloudpd"
            - "--directory"
            - "/data"
            - "--cookie-directory"
            - "/data/.pyicloud"
            - "--username"
            - "${ICLOUD_USER}"
            - "--password"
            - "${ICLOUD_PASS}"
            - "--watch-with-interval"
            - "3600"
            - "--password-provider"
            - "parameter"
            - "--mfa-provider"
            - "webui"
          env:
            - name: TZ
              value: "Europe/Berlin"
          volumeMounts:
            - name: icloud-photos
              mountPath: "/data"
      volumes:
        - name: icloud-photos
          nfs:
            server: "glacier.lab.${SECRET_LAB_DOMAIN}"
            path: "${ICLOUDPD_NFS_PATH}"
