---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: uptime-kuma
  name: uptime-kuma
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uptime-kuma
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      nodeSelector:
        topology.kubernetes.io/region: cgn
      containers:
        - image: ghcr.io/louislam/uptime-kuma:2.0.2
          imagePullPolicy: Always
          name: uptime-kuma
          env:
            - name: UPTIME_KUMA_PORT
              value: "3001"
            - name: UPTIME_KUMA_DB_TYPE
              value: "mariadb"
            - name: UPTIME_KUMA_DB_HOSTNAME
              value: "mariadb-galera.default"
            - name: UPTIME_KUMA_DB_NAME
              value: "uptime-kuma"
            - name: UPTIME_KUMA_DB_USERNAME
              value: "uptime-kuma"
            - name: UPTIME_KUMA_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb-galera
                  key: uptime-kuma-password
          volumeMounts:
            - mountPath: /app/data
              name: uptime-kuma
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
        - name: uptime-kuma
          persistentVolumeClaim:
            claimName: uptime-kuma
      dnsConfig:
        options:
          - name: ndots
            value: "1"
