---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: prowlarr
    spec:
      nodeSelector:
        topology.kubernetes.io/region: lab
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:2.3.0
          env:
            - name: PUID
              value: "3000"
            - name: PGID
              value: "3000"
            - name: TZ
              value: "Europe/Berlin"
          ports:
            - name: http
              containerPort: 9696
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              cpu: 100m
              memory: 250Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: prowlarr-config
