---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: mosquitto
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mosquitto
    spec:
      nodeSelector:
        topology.kubernetes.io/region: lab
      containers:
        - name: mosquitto
          image: eclipse-mosquitto:2.0.22
          ports:
            - name: mqtt
              containerPort: 1883
          volumeMounts:
            - name: config
              mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
            - name: configinc
              mountPath: /mosquitto/configinc
            - name: data
              mountPath: /mosquitto/data
      volumes:
        - name: config
          configMap:
            name: mosquitto-config
        - name: configinc
          emptyDir: {}
        - name: data
          persistentVolumeClaim:
            claimName: mosquitto-data-ceph
